// Variáveis globais
$primary: #3ea7a3;
$dark: #002825;
$light: #ffffff;
$primary-light: rgba($primary, 0.1);
$primary-font: "Raleway", sans-serif;

// Estilos globais
body {
  margin: 0;
  padding: 0;
  font-family: #{$primary-font};
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, $light 0%, #e6f7f6 100%);
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #{$primary};
  --dark: #{$dark};
  --light: #{$light};
  --primary-light: #{$primary-light};
  --primary-font : #{$primary-font};
}
